<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @evaluation.content %>
</p>

<p>
  <strong>Type of evaluation:</strong>
  <%= @evaluation.Type_of_evaluation %>
</p>

<p>
  <strong>Lecture course:</strong>
  <%= @evaluation.Lecture_course %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
