<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :lecture_year %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lecture_name %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program, id: :lecture_program %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :lecture_level %>
  </div>

  <div class="field">
    <%= form.label :Teacher_id %>
    <%= form.text_field :Teacher_id, id: :lecture_Teacher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
