<%= form_with(model: lecture_course, local: true) do |form| %>
  <% if lecture_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture_course.errors.count, "error") %> prohibited this lecture_course from being saved:</h2>

      <ul>
      <% lecture_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Course_id %>
    <%= form.text_field :Course_id, id: :lecture_course_Course_id %>
  </div>

  <div class="field">
    <%= form.label :Lecture_id %>
    <%= form.text_field :Lecture_id, id: :lecture_course_Lecture_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
